@let grouped = !!form.get('isGrouped')?.value;
<h2 class="text-2xl font-medium mb-1">Ajouter une dépense</h2>
<p class="mb-6">Enregistrer une nouvelle dépense avec les articles achetés</p>
<form [formGroup]="form" (submit)="save()" class="space-y-6">
  <div class="space-y-3">
    <!-- Expense group activation -->
    <div class="flex items-center gap-3">
      <p>Grouper les dépenses</p>
      <p-toggleswitch formControlName="isGrouped">
        <ng-template #handle let-checked="checked">
          <i class="text-xs pi" [class]="checked ? 'pi-check' : 'pi-times'"></i>
        </ng-template>
      </p-toggleswitch>
    </div>
    <!-- Expense date -->
    <div class="sm:w-1/2 *:space-y-0.5">
      <label class="block font-medium" for="date">Date</label>
      <p-datepicker
        [maxDate]="now"
        [showTime]="true"
        [showIcon]="true"
        hourFormat="24"
        showOnFocus="false"
        inputId="date"
        fluid
        formControlName="date"
        appendTo="body"
      />
    </div>
    <!-- Category -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
      @if (grouped) {
      <div class="space-y-0.5">
        <label class="block font-medium" for="group">Titre de la dépense</label>
        <input
          pInputText
          fluid
          type="text"
          id="group"
          formControlName="groupName"
          [invalid]="isValid('groupName')"
        />
      </div>
      }
      <div class="space-y-0.5">
        <label id="category" class="block font-medium">Catégorie</label>
        <p-autocomplete
          inputId="category"
          [suggestions]="categorySrv.categories()"
          (completeMethod)="categorySrv.filter($event.query)"
          optionValue="id"
          optionLabel="name"
          optionGroupLabel="name"
          optionGroupChildren="children"
          fluid
          appendTo="body"
          [group]="true"
          [dropdown]="true"
          [forceSelection]="true"
          formControlName="groupCategory"
          [invalid]="isValid('groupCategory')"
        />
      </div>
    </div>
    <!-- Expense description -->
    <div class="space-y-0.5">
      <label class="block font-medium" for="description">Description (optionnel)</label>
      <textarea
        pTextarea
        rows="3"
        fluid
        [autoResize]="true"
        id="description"
        placeholder="Course de samedi"
        formControlName="description"
      ></textarea>
    </div>
  </div>
  <!-- Items -->
  <div class="space-y-2">
    <div class="flex items-center justify-between">
      <div>Articles</div>
      <p-button
        size="small"
        severity="contrast"
        variant="outlined"
        label="Ajouter un article"
        (onClick)="addItem()"
      />
    </div>
    <div formArrayName="items" class="space-y-3">
      @for (item of items.controls; track $index) {
      <div [formGroup]="item" class="grid grid-cols-1 sm:grid-cols-2 gap-x-2.5 gap-y-3">
        <div class="space-y-0.5">
          <label class="block font-medium" [for]="'item-' + $index">Article</label>
          <p-autocomplete
            [suggestions]="itemSrv.suggestions()"
            (completeMethod)="itemSrv.autoComplete($event.query)"
            optionLabel="name"
            optionValue="id"
            fluid
            [dropdown]="true"
            appendTo="body"
            [inputId]="'item-' + $index"
            formControlName="item"
          />
        </div>
        <div class="flex items-end gap-3">
          <div class="space-y-0.5">
            <label class="block font-medium" [for]="'quantity-' + $index">Quantité</label>
            <p-inputnumber
              mode="decimal"
              [showButtons]="true"
              [minFractionDigits]="1"
              [min]="0"
              fluid
              [inputId]="'quantity-' + $index"
              formControlName="quantity"
            />
          </div>
          <div class="space-y-0.5">
            <label class="block font-medium" [for]="'amount-' + $index">Prix (Ar)</label>
            <p-inputnumber
              mode="currency"
              currency="MGA"
              fluid
              [inputId]="'amount-' + $index"
              formControlName="amount"
              (onBlur)="updateTotal()"
            />
          </div>
          @if (items.controls.length > 1) {
          <p-button
            icon="pi pi-trash"
            text="true"
            severity="danger"
            (onClick)="removeItem($index)"
          />
          }
        </div>
      </div>
      } @if (items.controls.length > 3) {
      <p-button
        styleClass="mx-auto block"
        icon="pi pi-plus"
        rounded="true"
        severity="secondary"
        (onClick)="addItem()"
      />
      }
    </div>
  </div>

  <!-- Total amount -->
  @if (items.length > 1) {
  <div class="flex justify-center sm:justify-end border-t pt-6">
    <div class="text-center sm:text-right">
      <p class="text-sm">Total de la dépense</p>
      <p class="text-2xl font-bold">{{ totalAmount() | currency }}</p>
    </div>
  </div>
  }

  <div class="text-center sm:text-end space-x-3">
    <p-button variant="outlined" severity="secondary" label="Annuler" (click)="closeModal()" />
    <p-button
      type="submit"
      severity="primary"
      label="Enregistrer la dépense"
      [disabled]="form.invalid"
      [loading]="loading()"
    />
  </div>
</form>
