@let hasDescription = expense().description ? expense().description!.length > 0 : false;
@let date = expense().date | appDate;
<exp-base-card
  [id]="expense().id"
  [date]="expense().date"
  [name]="expense().name"
  [description]="expense().description"
  [amount]="expense().amount"
  [hasCollapse]="hasDescription"
  [badge]="badge()"
  (onEdit)="displayForm.set(true)"
/>

<p-dialog
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  [visible]="displayForm()"
  [header]="expense().name + ' (' + date + ')' "
>
  <form class="space-y-3" #expForm="ngForm">
    <div class="flex justify-stretch items-center gap-2">
      <div class="space-y-1.5">
        <label for="quantity" class="font-semibold w-24">Quantité</label>
        <p-inputnumber
          fluid
          inputId="quantity"
          mode="decimal"
          [showButtons]="true"
          [minFractionDigits]="1"
          [min]="0"
          #quantity="ngModel"
          name="quantity"
          [ngModel]="details()?.quantity"
          required
        />
      </div>
      <div class="space-y-1.5">
        <label for="amount" class="font-semibold w-24">Prix</label>
        <p-inputnumber
          mode="currency"
          currency="MGA"
          fluid
          inputId="amount"
          #amount="ngModel"
          name="amount"
          [ngModel]="expense().amount"
          required
        />
      </div>
    </div>
    <div class="space-y-1.5">
      <label for="description">Description (optionnel)</label>
      <textarea
        id="description"
        name="description"
        pTextarea
        rows="3"
        fluid
        ngModel="description"
        name="description"
        [autoResize]="true"
        [ngModel]="expense().description"
      ></textarea>
    </div>
  </form>
  <div class="mt-4 flex justify-end gap-3">
    <p-button label="Cancel" severity="secondary" (click)="displayForm.set(false)" />
    <p-button
      type="submit"
      label="Mettre à jour"
      [disabled]="expForm.invalid"
      (onClick)="updateExp(expForm)"
    />
  </div>
</p-dialog>
