<p class="mb-5">
  Affiner les résultats en appliquant des filtres. Tous les champs sont facultatifs.
</p>
<form [formGroup]="form" class="min-w-sm max-w-4xl space-y-3">
  <div class="space-x-1.5">
    <label for="type">Type:</label>
    <p-select
      inputId="type"
      [options]="typeChoice"
      formControlName="type"
      optionLabel="label"
      optionValue="value"
    />
  </div>
  <div class="flex gap-1.5 items-center">
    <label>Dates:</label>
    <p-inputgroup class="w-fit" formGroupName="date">
      <p-inputgroup-addon>
        <p-button size="small" variant="text" (onClick)="changeDateMode()">
          {{ dateRangeControl.value ? 'Intervalles' : 'Une journée' }}
        </p-button>
      </p-inputgroup-addon>
      <p-datepicker
        [showIcon]="true"
        [showOnFocus]="false"
        [maxDate]="now"
        [showButtonBar]="true"
        [selectionMode]="dateRangeControl.value ? 'range' : 'single'"
        formControlName="values"
        appendTo="body"
        p-datepicker-focus-fix
      />
    </p-inputgroup>
  </div>
  <div>
    <p class="mb-0.5">Montant:</p>
    <div class="max-sm:space-y-3 sm:flex gap-1.5" formGroupName="amount">
      <p-inputgroup>
        <p-inputgroup-addon><span>Min:</span></p-inputgroup-addon>
        <p-inputnumber mode="currency" [currency]="currentHome()?.currency" formControlName="min" />
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon><span>Max:</span></p-inputgroup-addon>
        <p-inputnumber mode="currency" [currency]="currentHome()?.currency" formControlName="max" />
      </p-inputgroup>
    </div>
  </div>

  <div>
    <label class="mb-0.5" for="categories">Catégories:</label>
    <p-autocomplete
      inputId="categories"
      fluid
      multiple
      appendTo="body"
      [dropdown]="true"
      [forceSelection]="true"
      [group]="true"
      dataKey="id"
      optionLabel="name"
      optionGroupLabel="name"
      optionGroupChildren="children"
      [suggestions]="autoSuggestion()"
      (completeMethod)="catService.filter($event.query)"
      formControlName="categories"
    />
  </div>
  @if (orderControl?.enabled) {
    <div class="space-x-1.5" formGroupName="order">
      <label for="field">Trier par:</label>
      <p-select
        inputId="field"
        [options]="sortingOptions"
        formControlName="field"
        optionLabel="label"
        optionValue="value"
        appendTo="body"
      />
      <p-togglebutton formControlName="ascending" onLabel="Ascendant" offLabel="Descendant" />
    </div>
  }
  <div class="space-x-2.5 text-end">
    <p-button label="Réinitialiser" severity="secondary" (onClick)="onReset()" />
    <p-button label="Appliquer" (onClick)="onApply()" />
  </div>
</form>
