<div class="sticky z-40 top-3 max-w-xl md:max-w-4xl xl:max-w-6xl mx-auto px-3">
  <p-menubar [model]="menu">
    <ng-template #start>
      <span class="text-3xl leading-none! font-black animate-pulse">Fi</span>
    </ng-template>
    <ng-template #item let-item let-root="root">
      @if (item.routerLink) {
      <a [routerLink]="item.routerLink" class="p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
      </a>
      } @else if (item.url) {
      <a [href]="item.url" class="p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
      </a>
      } @else {
      <div class="p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
        <span class="pi pi-fw pi-angle-down ml-2"></span>
      </div>
      }
    </ng-template>
    <ng-template #end>
      <p-button
        severity="secondary"
        [icon]="darkModeSwitcher.isDarkMode() ? 'pi pi-moon' : 'pi pi-sun'"
        [outlined]="true"
        (onClick)="darkModeSwitcher.toggle()"
      />
      <span class="font-medium mx-2.5">{{ loggedUser()?.name }}</span>
      <p-button
        icon="pi pi-sign-out"
        [outlined]="true"
        [text]="true"
        severity="danger"
        (onClick)="logout()"
      />
    </ng-template>
  </p-menubar>
</div>

<main class="px-3 pt-10">
  <router-outlet />
</main>

<p-toast />
