:host {
  --exp-card-padding: 1rem;
}

:host ::ng-deep .p-card-body {
  padding: 0 !important;
}

.content-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.15s;
  transition-timing-function: ease-in;
}

.content-container.open {
  grid-template-rows: 1fr;
}

.content {
  padding-inline: var(--exp-card-padding);
  min-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.15s, opacity 0.15s, margin-top 0.15s, padding-top 0.15s;
  transition-timing-function: ease-in;
}

.content-container.open .content {
  padding-block: var(--exp-card-padding);
  padding-top: 1.5rem;
  border-top-style: solid;
  border-color: var(--p-content-border-color);
  border-top-width: 1px;
  visibility: visible;
  opacity: 1;
}
