<ng-template #mainContent let-name="name" let-date="date">
  <div class="space-y-2">
    <div class="text-lg font-bold">{{ name }}</div>
    <div class="text-sm font-medium">
      <i style="font-size: 1em" class="pi pi-calendar-clock"></i>
      {{ date | appDate }}
    </div>
  </div>
</ng-template>

<ng-template #toggleBtn>
  <p-button
    [text]="true"
    [icon]="collapse() ? 'pi pi-angle-up' : 'pi pi-angle-down'"
    size="small"
    (onClick)="collapse.set(!collapse())"
  />
</ng-template>

<ng-template #moreControl>
  <div class="inline-flex align-middle">
    <p-menu #menu [model]="controls" [popup]="true" appendTo="body" />
    <p-button
      size="small"
      icon="pi pi-ellipsis-v"
      severity="contrast"
      [text]="true"
      (click)="menu.toggle($event)"
    />
  </div>
</ng-template>

<p-card>
  <!-- Group view -->
  @if (isViewGroup(expense)) {
  <div class="flex justify-between items-center gap-4 p-(--exp-card-padding) pr-1">
    <ng-container
      [ngTemplateOutlet]="mainContent"
      [ngTemplateOutletContext]="{
        name: expense.name,
        date: expense.items[0].date
      }"
    />
    <div class="space-x-1.5 whitespace-nowrap">
      <ng-container [ngTemplateOutlet]="toggleBtn" />
      <span class="text-xl font-bold whitespace-nowrap"> {{ expense.total | appCurrency }} </span>
      <ng-container [ngTemplateOutlet]="moreControl" />
    </div>
  </div>
  <!-- Content -->
  <div [class.open]="collapse()" class="content-container">
    <div class="space-y-4 content">
      @if (expense.description) {
      <p class="whitespace-pre-wrap text-justify font-medium">{{ expense.description }}</p>
      }
      <p-table
        size="small"
        [value]="expense.items"
        stripedRows
        showGridlines
      >
        <ng-template #header>
          <tr>
            <th pSortableColumn="article.name">
              <div class="flex items-center gap-2">
                Article
                <p-sortIcon field="article.name" />
              </div>
            </th>
            <th>Quantité</th>
            <th pSortableColumn="amount">
              <div class="flex justify-center items-center gap-2">
                Prix
                <p-sortIcon field="amount" />
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-item>
          <tr>
            <td>{{ item.article.name }}</td>
            <td>{{ item.quantity }} {{ item.article.unit }}</td>
            <td class="text-end">{{ item.amount | appCurrency }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  }
  <!-- Simple view -->
  @else {
  <div class="flex justify-between items-center gap-4 p-(--exp-card-padding) pr-1">
    <ng-container
      [ngTemplateOutlet]="mainContent"
      [ngTemplateOutletContext]="{
        name: expense.article.name,
        date: expense.date
      }"
    />
    <div class="flex items-center gap-1.5 flex-nowrap">
      @if (expense.description) {
      <ng-container [ngTemplateOutlet]="toggleBtn" />
      }
      <div class="flex flex-col items-center">
        <span class="text-xl font-bold whitespace-nowrap">
          {{ expense.amount | appCurrency }}
        </span>
        @let unit = expense.article.unit; @if (unit) {
        <p-badge severity="secondary" [value]="expense.quantity + (unit ? ' ' + unit : '')" />
        }
      </div>
      <ng-container [ngTemplateOutlet]="moreControl" />
    </div>
  </div>
  <!-- Content -->
  <div [class.open]="collapse()" class="content-container">
    <div class="space-y-5 content">
      @if (expense.description) {
      <p class="whitespace-pre-wrap text-justify font-medium">{{ expense.description }}</p>
      }
    </div>
  </div>
  }
</p-card>

<p-confirmdialog />
