/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import "primeicons/primeicons.css";

@utility container {
  @apply mx-auto px-4;
}

@theme {
  --font-poppins: 'Poppins', sans-serif;
}

html {
  font-size: 14px;
  background-color: var(--p-slate-200);
}

html.dark-mode {
  background-color: var(--p-surface-950);
}

@layer component {
  .card {
    @apply bg-(--p-content-background) p-3 rounded-(--p-content-border-radius);
  }

  .overlay {
    @apply fixed top-0 left-0 z-10 w-screen h-dvh bg-(--p-mask-background);
  }

  .link {
    @apply text-(--p-button-link-color) hover:text-(--p-button-link-hover-color);
  }
}