<div class="space-y-3">
  @let items = expenses();
  @if (items) {
    @for(item of items; track $index) {
      @if(item | asSimpleExpense; as expense) {
        <expense-simple-card class="block" [expense]="expense" />
      } @if(item | asGroupExpense; as expense) {
        <expense-group-card class="block" [expense]="expense" />
      }
    } @empty {
      <div class="card py-6!">
        <p class="font-medium text-center">Aucune dépense enregistrée.</p>
      </div>
    }
    @if (items.length > 0) {
      <div #exp_end class='my-5 pb-5 w-full min-h-1 text-center pointer-events-none'>
        @if (isLoading()) {
          <i class="pi pi-spinner-dotted animate-spin" style="font-size: 1.5rem"></i>
        }
      </div>
    }
  } @else {
    @for (item of skeletons; track $index) {
      <app-expense-card-skeleton class="block" />
    }
  }
</div>
